Let's load our data from postgres.

In [2]:
import pandas as pd
import psycopg2
from ast import literal_eval
import numpy as np

cred = literal_eval(open('dbcred.py', 'r').read())

In [3]:
conn = psycopg2.connect(dbname = 'cava', user = cred['uid'], password = cred['pwd'], host = 'localhost', port = '5432') 

query = "select * from transactions"

df = pd.read_sql_query(query, conn)

Here is where I will make my first assumption about the data. I believe that the transid field is actually a customer id. 

Given that the prompt instructs us to see if a person is more likely to purchase the same item twice, it is unlikely
that the transid column is actually a transaction id - in other words - it would be near impossible to complete this task if 
transid was a simple one-time purchase with no way of tying it back to a particular customer.

By making this assumption, we now have customer level information with potentially multiple purchases available for each customer. We now have at least two rows of information about each customer, one row for the 'Base' and another for the accompanying protein that they purchased. If a customer id has more than one 'Base' item type, it represents another visit/separate purchase by the customer.

Let's convert transid to a more readable customer-id. Also, we will assign the categorical 'Item' field to an unique numerical value. This will help our processing later on.

In [4]:
df['customer_id'] = pd.factorize(df['transid'])[0]

In [5]:
df['item_int'] = pd.factorize(df['item'])[0]

Now let's convert each value in the Item field to an appropriate category. By looking at Cava's menu online, I was able to sort
each value in to 3 categories: 'Base', 'Protein', or 'Sides'. I made the assumption that lamb sliders was a protein option, 
as it is available at Cava Grill but not Cava Mezze. We will be using a handy pandas feature that allows for quick comparisons
and assignment using our dataframe's index.

In [6]:
df['Type'] = None

In [7]:
base_idx = df[df['item'].isin(['Bowl', 'Pita', 'Salad', 'Greens&Grains', 'Minis'])].index.tolist()
protein_idx = df[df['item'].isin(['falafel', 'braised_lamb', 'Chicken', 'braised_beef', 'meatballs', 'lamb_sliders'])].index.tolist()
sides_idx = df[df['item'].isin(['soup', 'cookie', 'large_drink', 'small_drink', 'chips'])].index.tolist()

In [8]:
df.loc[base_idx, 'Type'] = 'Base'
df.loc[protein_idx, 'Type'] = 'Protein'
df.loc[sides_idx, 'Type'] = 'Side'

In [9]:
df['Meal_id'] = None

In [10]:
base_id = np.arange(856700)

In [11]:
df.set_value(base_idx,'Meal_id', base_id)

,item,transid,id,customer_id,item_int,Type,Meal_id
0,Bowl,14549363-7413-45df-906c-cdc0e896aeb1,1,0,0,Base,0
1,falafel,14549363-7413-45df-906c-cdc0e896aeb1,2,0,1,Protein,None
2,Pita,80dd482d-b377-4aab-ae78-3cd1b5415615,3,1,2,Base,1
3,Chicken,80dd482d-b377-4aab-ae78-3cd1b5415615,4,1,3,Protein,None
4,Salad,80dd482d-b377-4aab-ae78-3cd1b5415615,5,1,4,Base,2
5,meatballs,80dd482d-b377-4aab-ae78-3cd1b5415615,6,1,5,Protein,None
6,Bowl,adff98c1-5a02-4d7b-9076-d67a5db41f19,7,2,0,Base,3
7,Chicken,adff98c1-5a02-4d7b-9076-d67a5db41f19,8,2,3,Protein,None
8,Bowl,3083e488-37b8-400a-86ad-c5e073fccea5,9,3,0,Base,4
9,meatballs,3083e488-37b8-400a-86ad-c5e073fccea5,10,3,5,Protein,None
10,Bowl,3083e488-37b8-400a-86ad-c5e073fccea5,11,3,0,Base,5
11,meatballs,3083e488-37b8-400a-86ad-c5e073fccea5,12,3,5,Protein,None
12,Bowl,f23c37a2-9a42-42f3-8a62-433a5d29feec,13,4,0,Base,6
13,meatballs,f23c37a2-9a42-42f3-8a62-433a5d29feec,14,4,5,Protein,None
14,Greens&Grains,03c85067-9030-4ffe-84a2-0446d7e5e2b6,15,5,6,Base,7
15,Chicken,03c85067-9030-4ffe-84a2-0446d7e5e2b6,16,5,3,Protein,None
16,Bowl,fc09fb04-e1a5-4a1a-bc27-1307928129af,17,6,0,Base,8
17,meatballs,fc09fb04-e1a5-4a1a-bc27-1307928129af,18,6,5,Protein,None
18,Pita,1c9a4904-4da5-4767-bf8d-135b4a4a4301,19,7,2,Base,9
19,lamb_sliders,1c9a4904-4da5-4767-bf8d-135b4a4a4301,20,7,7,Protein,None
20,small_drink,1c9a4904-4da5-4767-bf8d-135b4a4a4301,21,7,8,Side,None
21,Bowl,46ad81d5-fcb0-4703-a2ad-24625eaa74e7,22,8,0,Base,10
22,Chicken,46ad81d5-fcb0-4703-a2ad-24625eaa74e7,23,8,3,Protein,None
23,Greens&Grains,46ad81d5-fcb0-4703-a2ad-24625eaa74e7,24,8,6,Base,11
24,Chicken,46ad81d5-fcb0-4703-a2ad-24625eaa74e7,25,8,3,Protein,None
25,Pita,c58ca592-a256-4736-9087-be594b92a0fb,26,9,2,Base,12
26,Chicken,c58ca592-a256-4736-9087-be594b92a0fb,27,9,3,Protein,None
27,Bowl,c58ca592-a256-4736-9087-be594b92a0fb,28,9,0,Base,13
28,Chicken,c58ca592-a256-4736-9087-be594b92a0fb,29,9,3,Protein,None
29,Minis,c58ca592-a256-4736-9087-be594b92a0fb,30,9,9,Base,14
...,...,...,...,...,...,...,...
1997144,lamb_sliders,212b6245-e6d2-4c23-a28a-8e0399d8a3bc,1997145,659678,7,Protein,None
1997145,small_drink,212b6245-e6d2-4c23-a28a-8e0399d8a3bc,1997146,659678,8,Side,None
1997146,chips,212b6245-e6d2-4c23-a28a-8e0399d8a3bc,1997147,659678,11,Side,None
1997147,Salad,56ced346-9939-42e5-955c-d3f19ad3cf06,1997148,659679,4,Base,856688
1997148,falafel,56ced346-9939-42e5-955c-d3f19ad3cf06,1997149,659679,1,Protein,None
1997149,Greens&Grains,da2f3130-b3e4-4106-84c8-2818112d1238,1997150,659680,6,Base,856689
1997150,Chicken,da2f3130-b3e4-4106-84c8-2818112d1238,1997151,659680,3,Protein,None
1997151,soup,da2f3130-b3e4-4106-84c8-2818112d1238,1997152,659680,15,Side,None
1997152,Bowl,da2f3130-b3e4-4106-84c8-2818112d1238,1997153,659680,0,Base,856690
1997153,falafel,da2f3130-b3e4-4106-84c8-2818112d1238,1997154,659680,1,Protein,None
1997154,Bowl,da2f3130-b3e4-4106-84c8-2818112d1238,1997155,659680,0,Base,856691
1997155,Chicken,da2f3130-b3e4-4106-84c8-2818112d1238,1997156,659680,3,Protein,None
1997156,cookie,da2f3130-b3e4-4106-84c8-2818112d1238,1997157,659680,12,Side,None
1997157,Minis,053229bf-a70d-4f5c-94a9-64cdedb6a82f,1997158,659681,9,Base,856692
1997158,meatballs,053229bf-a70d-4f5c-94a9-64cdedb6a82f,1997159,659681,5,Protein,None
1997159,Salad,13078d78-3684-4a5a-b553-0b5dde0ef5f8,1997160,659682,4,Base,856693
1997160,Chicken,13078d78-3684-4a5a-b553-0b5dde0ef5f8,1997161,659682,3,Protein,None
1997161,Bowl,98ecbf03-88ac-48a7-a205-f75c4b086aae,1997162,659683,0,Base,856694
1997162,meatballs,98ecbf03-88ac-48a7-a205-f75c4b086aae,1997163,659683,5,Protein,None
1997163,soup,98ecbf03-88ac-48a7-a205-f75c4b086aae,1997164,659683,15,Side,None
1997164,Bowl,a64239bc-9403-42b6-8226-f5871902359b,1997165,659684,0,Base,856695
1997165,falafel,a64239bc-9403-42b6-8226-f5871902359b,1997166,659684,1,Protein,None
1997166,Minis,a64239bc-9403-42b6-8226-f5871902359b,1997167,659684,9,Base,856696
1997167,Chicken,a64239bc-9403-42b6-8226-f5871902359b,1997168,659684,3,Protein,None
1997168,Bowl,8a02da4e-8847-4d3d-a811-99e81fa4bdeb,1997169,659685,0,Base,856697
1997169,Chicken,8a02da4e-8847-4d3d-a811-99e81fa4bdeb,1997170,659685,3,Protein,None
1997170,Minis,71c5165b-e67f-491e-b224-52404f7dd888,1997171,659686,9,Base,856698
1997171,meatballs,71c5165b-e67f-491e-b224-52404f7dd888,1997172,659686,5,Protein,None
1997172,Minis,71c5165b-e67f-491e-b224-52404f7dd888,1997173,659686,9,Base,856699
1997173,Chicken,71c5165b-e67f-491e-b224-52404f7dd888,1997174,659686,3,Protein,None

In [12]:
df.loc[protein_idx, 'Meal_id'] = df['Meal_id'].shift(1)

In [13]:
df.loc[sides_idx, 'Meal_id'] = df['Meal_id'].shift(1)
df.loc[sides_idx, 'Meal_id'] = df['Meal_id'].shift(1)

In [14]:
df.isnull().values.any()

False

In [15]:
mealcombolist = df.groupby('Meal_id')['item_int'].apply(list)

In [16]:
df_combo = pd.DataFrame(mealcombolist)

df_combo.reset_index(level=0, inplace=True)

df_combo

        Meal_id       item_int
0             0         [0, 1]
1             1         [2, 3]
2             2         [4, 5]
3             3         [0, 3]
4             4         [0, 5]
5             5         [0, 5]
6             6         [0, 5]
7             7         [6, 3]
8             8         [0, 5]
9             9      [2, 7, 8]
10           10         [0, 3]
11           11         [6, 3]
12           12         [2, 3]
13           13         [0, 3]
14           14         [9, 5]
15           15         [4, 1]
16           16         [4, 3]
17           17        [0, 10]
18           18        [0, 10]
19           19        [0, 10]
20           20         [6, 3]
21           21     [2, 3, 11]
22           22         [4, 3]
23           23         [0, 3]
24           24         [2, 3]
25           25         [2, 7]
26           26         [4, 1]
27           27         [2, 1]
28           28         [4, 5]
29           29         [0, 3]
...         ...            ...
856670   856670         [0, 3]
856671   856671         [2, 3]
856672   856672         [0, 3]
856673   856673         [0, 5]
856674   856674         [2, 3]
856675   856675         [4, 1]
856676   856676     [4, 3, 12]
856677   856677         [4, 3]
856678   856678         [0, 3]
856679   856679         [6, 3]
856680   856680         [4, 3]
856681   856681         [9, 1]
856682   856682        [4, 14]
856683   856683  [0, 7, 8, 12]
856684   856684         [4, 3]
856685   856685         [9, 5]
856686   856686  [4, 7, 8, 11]
856687   856687  [4, 7, 8, 11]
856688   856688         [4, 1]
856689   856689     [6, 3, 15]
856690   856690         [0, 1]
856691   856691     [0, 3, 12]
856692   856692         [9, 5]
856693   856693         [4, 3]
856694   856694     [0, 5, 15]
856695   856695         [0, 1]
856696   856696         [9, 3]
856697   856697         [0, 3]
856698   856698         [9, 5]
856699   856699         [9, 3]

[856700 rows x 2 columns]

In [17]:
df2 = pd.merge(df, df_combo, on ='Meal_id', how = 'outer')

In [18]:
df2['meal_combo'] = df2['item_int_y']
del df2['item_int_y']

,item,transid,id,customer_id,item_int_x,Type,Meal_id,meal_combo
0,Bowl,14549363-7413-45df-906c-cdc0e896aeb1,1,0,0,Base,0,"[0, 1]"
1,falafel,14549363-7413-45df-906c-cdc0e896aeb1,2,0,1,Protein,0,"[0, 1]"
2,Pita,80dd482d-b377-4aab-ae78-3cd1b5415615,3,1,2,Base,1,"[2, 3]"
3,Chicken,80dd482d-b377-4aab-ae78-3cd1b5415615,4,1,3,Protein,1,"[2, 3]"
4,Salad,80dd482d-b377-4aab-ae78-3cd1b5415615,5,1,4,Base,2,"[4, 5]"

In [25]:
df2['meal_combo_str'] = df2['meal_combo'].astype(str)

In [26]:
df2[:20]

,item,transid,id,customer_id,item_int_x,Type,Meal_id,meal_combo,meal_combo_str
0,Bowl,14549363-7413-45df-906c-cdc0e896aeb1,1,0,0,Base,0,"[0, 1]","[0, 1]"
1,falafel,14549363-7413-45df-906c-cdc0e896aeb1,2,0,1,Protein,0,"[0, 1]","[0, 1]"
2,Pita,80dd482d-b377-4aab-ae78-3cd1b5415615,3,1,2,Base,1,"[2, 3]","[2, 3]"
3,Chicken,80dd482d-b377-4aab-ae78-3cd1b5415615,4,1,3,Protein,1,"[2, 3]","[2, 3]"
4,Salad,80dd482d-b377-4aab-ae78-3cd1b5415615,5,1,4,Base,2,"[4, 5]","[4, 5]"
5,meatballs,80dd482d-b377-4aab-ae78-3cd1b5415615,6,1,5,Protein,2,"[4, 5]","[4, 5]"
6,Bowl,adff98c1-5a02-4d7b-9076-d67a5db41f19,7,2,0,Base,3,"[0, 3]","[0, 3]"
7,Chicken,adff98c1-5a02-4d7b-9076-d67a5db41f19,8,2,3,Protein,3,"[0, 3]","[0, 3]"
8,Bowl,3083e488-37b8-400a-86ad-c5e073fccea5,9,3,0,Base,4,"[0, 5]","[0, 5]"
9,meatballs,3083e488-37b8-400a-86ad-c5e073fccea5,10,3,5,Protein,4,"[0, 5]","[0, 5]"
10,Bowl,3083e488-37b8-400a-86ad-c5e073fccea5,11,3,0,Base,5,"[0, 5]","[0, 5]"
11,meatballs,3083e488-37b8-400a-86ad-c5e073fccea5,12,3,5,Protein,5,"[0, 5]","[0, 5]"
12,Bowl,f23c37a2-9a42-42f3-8a62-433a5d29feec,13,4,0,Base,6,"[0, 5]","[0, 5]"
13,meatballs,f23c37a2-9a42-42f3-8a62-433a5d29feec,14,4,5,Protein,6,"[0, 5]","[0, 5]"
14,Greens&Grains,03c85067-9030-4ffe-84a2-0446d7e5e2b6,15,5,6,Base,7,"[6, 3]","[6, 3]"
15,Chicken,03c85067-9030-4ffe-84a2-0446d7e5e2b6,16,5,3,Protein,7,"[6, 3]","[6, 3]"
16,Bowl,fc09fb04-e1a5-4a1a-bc27-1307928129af,17,6,0,Base,8,"[0, 5]","[0, 5]"
17,meatballs,fc09fb04-e1a5-4a1a-bc27-1307928129af,18,6,5,Protein,8,"[0, 5]","[0, 5]"
18,Pita,1c9a4904-4da5-4767-bf8d-135b4a4a4301,19,7,2,Base,9,"[2, 7, 8]","[2, 7, 8]"
19,lamb_sliders,1c9a4904-4da5-4767-bf8d-135b4a4a4301,20,7,7,Protein,9,"[2, 7, 8]","[2, 7, 8]"

In [28]:
samemeal = df2.groupby(['customer_id'])['meal_combo_str'].apply(lambda x: len(x.unique()))

In [45]:
df_samemeal = pd.DataFrame(samemeal)

There are 659,687 unique customers in this dataset. Now that we have finished massaging the data in to something usable, let's see how many of these customers have ordered the same set of items (base/protein/side) more than once.

In [48]:
len(df['customer_id'].unique())

659687

About 18% of customers have ordered the same combination of items more than once, with the count at 120,036.

In [38]:
df_samemeal[df_samemeal['meal_combo_str']>1].count()

meal_combo_str    120036
dtype: int64

The figure drops sharply down to 20,938 for customers ordering the same combination of items more than twice, about 3%.

In [39]:
df_samemeal[df_samemeal['meal_combo_str']>2].count()

meal_combo_str    20938
dtype: int64